@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg,#0AC9FF 0%, #9500FF 99%);
  border-radius: 10px;
  border: 2px solid #ffff;
}
body {
  background-color: #f7fafc;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.h-screen-20 {
  height: calc(100vh - 5rem);
}

.main-section {
  @apply col-span-2 rounded-md mt-1;
}

.leftbar {
  @apply col-span-1 bg-white sticky top-20 pt-5 h-[85vh] rounded-md border;
}

.rightbar {
  @apply col-span-1 bg-white sticky top-20 h-[85vh] p-5 rounded-md border;
}
