CLIENT_URL=http://localhost:3000
MONGODB_URI=mongodb://127.0.0.1:27017/db_socialecho or MongoDB Atlas connection string
PORT=3001

# JWT
SECRET=@McQfTjWnZr4u7x!A%D*G-JaNdRgUkXp
REFRESH_SECRET=@McQfTjWnZr4u7x!A%D*G-JaNdRgUkXp

# Crypto
CRYPTO_KEY=@McQfTjWnZr4u7x!A%D*G-JaNdRgUkXp

# Nodemailer
EMAIL=email
PASSWORD=password
EMAIL_SERVICE=Zoho/Gmail/others

# Content Moderation
PERSPECTIVE_API_KEY=@McQfTjWnZr4u7x!A%D*G-JaNdRgUkXp
TEXTRAZOR_API_KEY=@McQfTjWnZr4u7x!A%D*G-JaNdRgUkXp
INTERFACE_API_KEY=@McQfTjWnZr4u7x!A%D*G-JaNdRgUkXp
PERSPECTIVE_API_DISCOVERY_URL=https://commentanalyzer.googleapis.com/$discovery/rest?version=v1alpha1
TEXTRAZOR_API_URL=https://api.textrazor.com/
INTERFACE_API_URL=https://api-inference.huggingface.co/models/facebook/bart-large-mnli

# For flask using bart-large-mnli
CLASSIFIER_API_URL=http://127.0.0.1:5000/classify

